*{
    padding: 0;
margin: 0;
box-sizing: 0; 
}
.nav-brand{
    color: black;
    font-size: 2rem;
}
.navbrand :hover{
    color: black;
}
.body{
    background-color: green;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    height: 20px;
    width:auto;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .container {
    padding: 2px 16px;
  }
.card-body{
   
    margin-top: 20px;
    width: auto;
    height: 50px;
    display: table;
    }
.form
{
    text-align: center;
    background-color:blanchedalmond;
}
.footer{
    background-color: green;
}
.img1{
    height: 400px;
    width:auto ;
}

.bout{
    background-image:image("12.timber.jpg") ;
    background-image: cover;
}
.footer{
    background: green;
}
.store{
    background-image: image-("file:///C:/Xammpo/htdocs/web_canteen/Assets/Images/8.timber.jpg");
    background-image:image-set(cover);
    
}

